{% extends "base.html" %}
{% block title %}Home — Market{% endblock %}

{% block content %}
<h1>Home</h1>

{% if search %}
    <p>Results for "{{ search }}"</p>
{% endif %}

{% if listings %}
    {% for listing in listings %}
        <div>
            {% if listing.image_filename %}
                <img src="{{ url_for('static', filename='uploads/' ~ listing.image_filename)}}" width="200">
            {% else %}
                <p>no image</p>
            {% endif %}
            <h3>{{ listing.title }}</h3>
            <p>${{ listing.price }}</p>
            <p>{{ listing.location }}</p>
            <p>By {{ listing.seller.name }}</p>
        </div>
    {% endfor %}
{% else %}
    {% if search %}
        <p>No results found for "{{ search }}"</p>
    {% else %}
        <p>No listings yet.</p>
    {% endif %}
{% endif %}



{% endblock %}